html {
  position: inherit !important;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 100%;
}

a {
  color: #99a7de;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* START PROMPT */
#start-prompt {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-primary);
}

/* logo */
#start-prompt-logo {
  position: absolute;
  height: 1em;
  top: 3vh;
  left: 3vh;
  display: flex;
  align-items: center;
  width: calc(100vw - 6vh);
}
#start-prompt-logo-img {
  height: 1em;
}
#start-prompt-logo-text {
  font-size: 0.8em;
  padding-left: 0.5em;
}

/* content */
.start-prompt-center {
  width: 90%;
  max-width: 700px;
  height: fit-content;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start-prompt-icon-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.start-prompt-icon {
  position: relative;
}
.start-prompt-icon-inner {
  font-size: min(14vw, 140px);
  transform: translate(-50%, -50%) rotate(270deg);
  position: absolute;
  top: 50%;
  left: 50%;
}
.start-prompt-text {
  text-align: center;
  font-size: 1.8em;
  height: fit-content;
}
.start-prompt-text-inner {
  display: block;
  margin: auto;
  padding: 1vh;
  height: fit-content;
  width: calc(80% - 2vh);
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
}

/* lower */
#start-prompt-lower {
  position: absolute;
  height: fit-content;
  font-size: 0.8em;
  bottom: 3vh;
  left: 3vh;
}

/* The Popup (background) */
.popup {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Popup Content/Box */
.popup-content {
  background-color: white;
  margin: auto;
  margin-top: 15vh;
  width: 70vw;
  height: 70vh;
  padding: 0;
  font-size: 2vh;
}

.popup-page {
  padding: 3vh;
  width: calc(70vw - 6vh);
  height: calc(70vh - 6vh);
}
